p {
   text-align:center;
   color: brown;
   

}

#id_p {
    text-align:left;
    color:yellow;

}
.class-p{
text-align: right;
color: rgb(87, 9, 87);

}
p.red{
    text-align: center;
    color: rgb(163, 236, 17);
}
.brown{
    color: brown;
}
.large{
    font-size: 25px;
}

h1,h2,p {
    font-family: forte;
}